/* Tailwind CSS */
/* https://tailwindcss.com/ */
@import 'tailwindcss';

/* theme variables */
/* 커스텀 폰트, 컬러 변수 */
/* https://tailwindcss.com/docs/theme */

/* DesignSystem */
/* https://www.figma.com/design/FQLscVYmrqj3fewEBqqeS9/%EC%A0%9C%EB%AA%A9-%EC%97%86%EC%9D%8C?node-id=1-7&t=EBfzP1d3M6MYU6Pj-1 */
@theme {
  /* Text Colors */
  --color-text-1: #FFFFFF;
  --color-text-2: rgb(255 255 255 / 0.7); /* 70% */
  --color-text-3: rgb(255 255 255 / 0.4); /* 40% */
  --color-text-4: rgb(255 255 255 / 0.2); /* 20% */

  /* Brand Colors */
  --color-primary: #0BB57F;
  --color-secondary: #007351;

  /* Status Colors */
  --color-inactive: rgb(255 255 255 / 0.4);
  --color-line-1: #8F96A3;
  --color-line-2: #2B2D31;

  /* System Notification */
  --color-system-red: #FC4141;
  --color-system-blue: #EAF9FF;
  --color-system-green: #ECFBF6;

  /* Background Colors (Dark Mode Base) */
  --color-bg-1: #0C0D0E;
  --color-bg-2: #18191B;
  --color-bg-3: #1E2024;
  --color-bg-4: #2B2D31;
  --color-bg-inactive: #1E2024;

  /* Radius (Border Radius) */
  /* 사용법: rounded-0, rounded-1, rounded-2 ... */
  --radius-0: 0px;
  --radius-1: 2px;
  --radius-2: 4px;
  --radius-3: 8px;
  --radius-4: 12px;
}

/* HTML Elements */
@layer base {
  /* 기본 레이아웃 및 렌더링 설정 */
  html, body {
    width: 100%;
    height: 100%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    /* 맥/iOS 폰트 선명하게 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* 기본 텍스트, 배경색 (테마 변수 연결 가능) */
    @apply bg-white text-slate-900;
  }

  /* [tailwind ver] modern css reset 2025 */
  /* 모바일 터치 하이라이트 제거 */
  * {
    -webkit-tap-highlight-color: transparent;
  }

  /* 제목 밸런스 잡기 */
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /* 긴 본문에서 고아(orphan) 단어 방지 */
  p {
    text-wrap: pretty;
  }

  /* 이미지, 비디오 비율 깨짐 방지 */
  img, video {
    height: auto;
    /* 이미지는 기본이 inline이라 */
    /* block으로 잡는게 정신건강에 좋음 */
    display: block;
  }

  /* 폼 요소 입력 시 줌인 방지 (아이폰 대응) */
  /* font-size가 16px 미만이면 아이폰에서 input 클릭 시 화면이 확대됨 */
  input, textarea, select {
    /* 모바일 기본 폰트 사이즈 강제 */
    font-size: 16px;
  }
}

/* Simple utilities */
/* https://tailwindcss.com/docs/adding-custom-styles#simple-utilities */
/* [sr-only] 라이브러리 포팅용 */
/* 나중에 이 블록만 별도 CSS 파일로 분리해서 라이브러리에 포함 */
@utility sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  /* 구형 브라우저 호환 */
  clip: rect(0, 0, 0, 0);
  /* 최신 브라우저 표준(필요하면 사용) */
  /* clip-path: inset(50%); */
  white-space: nowrap;
  border: 0;
}

/* Using custom CSS */
/* https://tailwindcss.com/docs/adding-custom-styles#using-custom-css */